<%- include('../header.ejs') %>

    <br><br><br><br>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="alert-course alert-success text-center">DISPLAY REGISTERED USERS</h3>

                <table class="tb table table-striped  table-responsive table-info">
                    <thead>
                        <tr>
                            <th >No</th>
                            <th >Username</th>
                            <th >Email</th>

                        </tr>
                    </thead>
                    <tbody>


                        <% var i=1 %>

                            <% data.forEach((item)=>{ %>
                                <tr>
                                    <td>
                                        <%= i++ %>
                                    </td>
                                    <td>
                                        <%= item.username %>
                                    </td>
                                    <td>
                                        <%= item.email %>
                                    </td>

                                </tr>
                                <% })%>
                    </tbody>
                </table>

                <center>
                    <a href="/course" class="btn btn-course btn-warning">Back To Home</a>&nbsp;&nbsp;
                    <a class="btn btn-course btn-danger" href="/DisplayData/<%= data._id %>">User Details
                    </a>
                </center>
                <br>
            </div>
        </div>

    </div>




    <%- include('../footer.ejs') %>